.card:hover {
    /* transform: translateY(-4px) scale(1.01); */
    box-shadow: 7px 7px 14px #dadada, -7px -7px 14px #ffffff;
}

.card:active {
    box-shadow: 2px 2px 4px #999, -2px -2px 4px #ffffff;
}

html[class="dark"] .card:hover {
    box-shadow: 8px 8px 16px #111, -8px -8px 16px #333;
}

html[class="dark"] .card:active {
    box-shadow: 4px 4px 8px #000, -4px -4px 8px #303030;
}
