.hot-sites{
  margin: 20px 0px;
  background: #eeeeee;
  .btn{
    padding: 7px 15px;
    background: #000028;
    border-radius: 20px;
    color: white;
  }
  .btn:hover{
    box-shadow: 4px 4px 8px gray;
  }
}

